{% include 'admin_header.html' %}	

<center>
     <div style=" background: url('/static/img/iii.jpg') no-repeat center / cover; 
    height: 750px;
    width: 100%;
    display: table;
    " class="">
        <div class="hero-content">
            <div class="hero-text">
                <center>
                    <body>
                <h2 style="color: white">View Request</h2>
	<form method="">
        <table border="1" class="table" style="width: 900px;background-color: black">
            <thead style="background-color: white"> 
            <tr>
            	<th style="color: black">Firstname</th>
                <th style="color: black">Place</th>
                <th style="color: black">Vehicle</th>
                <th style="color: black">Status</th>
                <th style="color: black">Date</th>
            </tr>
            </thead>
         {% for row in data['rqt'] %}
         <tr>
                <td style="color: white">{{row['Firstname']}}</td>
                <td style="color: white">{{row['Place']}}</td>
                <td style="color: white">{{row['Vehicle']}}</td>
                <td style="color: white">{{row['Status']}}</td>
                <td style="color: white">{{row['Date']}}</td>


        </tr>

         {% endfor %}

     </form>
 </table>
</form>
</body>
</center>
</div>
</div>
</div>



{% include 'footer.html' %}