{% include 'user_header.html' %}

<center>
	 <div style=" background: url('/static/img/iii.jpg') no-repeat center / cover; 
    height: 750px;
    width: 100%;
    display: table;
    " class="">
        <div class="hero-content">
            <div class="hero-text">

<h3 style="color: white">Send Feedback</h3><br>
<form method="post">
	<center>
<table>
	<tr>
		<th style="font-size:20px;color: white">Feedback</th>
		<td><input class="form-control" type="Feedback" name="Feedback"></td>
	</tr>
	<tr>
		<td colspan="1" align="center"><input class="form-control" type="submit" name="Send" class="btn btn-primary" value="Send"></td>
		</tr>
</table>
</form>
</div>
</div>
</div>
</center>
</center>




{% include 'footer.html' %}